<!DOCTYPE html>
<html>
    <head>
        <title>HTML Forms</title>
    </head>
<body>
<h1>FORMS</h1>

<form action="/submit" method="post">

  <label for="Mathematics">Mathematics</label><br>
  <input type="text" id="math" name="math" value="0"><br>

  <label for="Physics">Physics</label><br>
  <input type="text" id="phy" name="phy" value="0"><br><br>

  <label for="Chemistry">Chemistry</label><br>
  <input type="text" id="chem" name="chem" value="0"><br><br>

  <label for="Biology">Biology</label><br>
  <input type="text" id="bio" name="bio" value="0"><br><br>

  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>

</body>
</html>