{% extends "base.html" %}
{% block title %} Login Page {% endblock %}

{% block content %}

<form action="#" method="post">

    <label for="fname">First Name</label>
    <input type="text" name="fname" id="fname"><br>
    <label for="lastname">Last Name</label>
    <input type="text" name="lname" id="lname"><br>
    <label for="mail">Email Id</label>
    <input type="email" name="mail" id="mail"><br>
    <label for="ph">Phone No</label>
    <input type="number" name="ph" id="ph"><br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">

</form>

{% endblock %}
